---
#############################################################################
# kube-controller-manager - Download Tasks
#############################################################################

- name: Create temporary download directory
  file:
    path: /tmp/kubernetes-download
    state: directory
    mode: '0755'

- name: Download kube-controller-manager binary
  get_url:
    url: "{{ k8s_download_url }}/kube-controller-manager"
    dest: /tmp/kubernetes-download/kube-controller-manager
    mode: '0755'
    timeout: 300
  register: download_result
  retries: 3
  delay: 5
  until: download_result is succeeded

- name: Verify kube-controller-manager binary
  stat:
    path: /tmp/kubernetes-download/kube-controller-manager
  register: controller_manager_binary
  failed_when: not controller_manager_binary.stat.exists or controller_manager_binary.stat.size == 0

- name: Display download information
  debug:
    msg:
      - "kube-controller-manager binary downloaded successfully"
      - "Size: {{ (controller_manager_binary.stat.size / 1024 / 1024) | round(2) }} MB"
