---
#############################################################################
# kube-controller-manager - Kubeconfig Generation Tasks
#############################################################################

- name: Generate kubeconfig for controller-manager
  block:
    - name: Set cluster in kubeconfig
      command: >
        /usr/local/bin/kubectl config set-cluster {{ cluster_name }}
        --certificate-authority={{ client_ca_file }}
        --embed-certs=true
        --server=https://127.0.0.1:6443
        --kubeconfig={{ kubeconfig_path }}

    - name: Set credentials in kubeconfig
      command: >
        /usr/local/bin/kubectl config set-credentials system:kube-controller-manager
        --client-certificate={{ tls_cert_file }}
        --client-key={{ tls_private_key_file }}
        --embed-certs=true
        --kubeconfig={{ kubeconfig_path }}

    - name: Set context in kubeconfig
      command: >
        /usr/local/bin/kubectl config set-context default
        --cluster={{ cluster_name }}
        --user=system:kube-controller-manager
        --kubeconfig={{ kubeconfig_path }}

    - name: Use context in kubeconfig
      command: >
        /usr/local/bin/kubectl config use-context default
        --kubeconfig={{ kubeconfig_path }}

- name: Set kubeconfig file permissions
  file:
    path: "{{ kubeconfig_path }}"
    mode: '0600'

- name: Verify kubeconfig exists
  stat:
    path: "{{ kubeconfig_path }}"
  register: kubeconfig_stat
  failed_when: not kubeconfig_stat.stat.exists
