---
#############################################################################
# PKI Role - Scheduler Certificate Generation
#############################################################################

- name: Generate scheduler private key
  openssl_privatekey:
    path: "{{ pki_dir }}/kube-scheduler.key"
    size: "{{ cert_key_size }}"
    type: RSA
    mode: '0600'
  become: true

- name: Generate scheduler CSR
  openssl_csr:
    path: "{{ pki_temp_dir }}/kube-scheduler.csr"
    privatekey_path: "{{ pki_dir }}/kube-scheduler.key"
    common_name: "{{ certs.scheduler.common_name }}"
    organization_name: "{{ certs.scheduler.organization }}"
    key_usage:
      - digitalSignature
      - keyEncipherment
    extended_key_usage:
      - clientAuth
  become: true

- name: Generate scheduler certificate
  openssl_certificate:
    path: "{{ pki_dir }}/kube-scheduler.crt"
    csr_path: "{{ pki_temp_dir }}/kube-scheduler.csr"
    ownca_path: "{{ pki_dir }}/ca.crt"
    ownca_privatekey_path: "{{ pki_dir }}/ca.key"
    provider: ownca
    ownca_not_after: "+{{ cert_validity_days }}d"
    mode: '0644'
  become: true

- name: Display scheduler certificate info
  shell: openssl x509 -in {{ pki_dir }}/kube-scheduler.crt -noout -subject
  register: scheduler_cert_info
  changed_when: false
  become: true

- name: Show scheduler certificate details
  debug:
    msg: "{{ scheduler_cert_info.stdout }}"
