---
#############################################################################
# PKI Role - Service Account Key Pair Generation
#############################################################################

- name: Generate service account private key
  openssl_privatekey:
    path: "{{ service_account_key_file }}"
    size: "{{ cert_key_size }}"
    type: RSA
    mode: '0600'
  become: true

- name: Generate service account public key
  openssl_publickey:
    path: "{{ service_account_pub_file }}"
    privatekey_path: "{{ service_account_key_file }}"
    mode: '0644'
  become: true

- name: Display service account key info
  debug:
    msg:
      - "Service account private key: {{ service_account_key_file }}"
      - "Service account public key: {{ service_account_pub_file }}"
