---
apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: {{ lookup('password', '/dev/null chars=ascii_letters,digits length=32') | b64encode }}
      - identity: {}
