---
#############################################################################
# kubelet - Download Tasks
#############################################################################

- name: Create temporary download directory
  file:
    path: /tmp/kubernetes-download
    state: directory
    mode: '0755'

- name: Download kubelet binary
  get_url:
    url: "{{ k8s_download_url }}/kubelet"
    dest: /tmp/kubernetes-download/kubelet
    mode: '0755'
    timeout: 300
  register: download_result
  retries: 3
  delay: 5
  until: download_result is succeeded

- name: Verify kubelet binary
  stat:
    path: /tmp/kubernetes-download/kubelet
  register: kubelet_binary
  failed_when: not kubelet_binary.stat.exists or kubelet_binary.stat.size == 0

- name: Display download information
  debug:
    msg:
      - "kubelet binary downloaded successfully"
      - "Size: {{ (kubelet_binary.stat.size / 1024 / 1024) | round(2) }} MB"
