---
#############################################################################
# kube-apiserver - Download Tasks
#############################################################################

- name: Create temporary download directory
  file:
    path: /tmp/kubernetes-download
    state: directory
    mode: '0755'

- name: Download kube-apiserver binary
  get_url:
    url: "{{ k8s_download_url }}/kube-apiserver"
    dest: /tmp/kubernetes-download/kube-apiserver
    mode: '0755'
    timeout: 300
  register: download_result
  retries: 3
  delay: 5
  until: download_result is succeeded

- name: Verify kube-apiserver binary
  stat:
    path: /tmp/kubernetes-download/kube-apiserver
  register: apiserver_binary
  failed_when: not apiserver_binary.stat.exists or apiserver_binary.stat.size == 0

- name: Display download information
  debug:
    msg:
      - "kube-apiserver binary downloaded successfully"
      - "Size: {{ (apiserver_binary.stat.size / 1024 / 1024) | round(2) }} MB"
      - "Path: /tmp/kubernetes-download/kube-apiserver"
